<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->

  <title>Lonely Hearts Dating</title>
</head>

<body ng-app="LHD" ng-controller="LHDController">
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div class="header">
    <h1>Lonely Hearts Dating Service</h1>
  </div>
  <div class="container text-center">
    <div id="root">
      <div id="userPreferences">
        <h2>Search Criteria</h2>
        <div class="form">
          <div class="form-group">
            <label class="control-label">Age</label>
            <input type="text" name="ageMin" ng-model="filter.minAge" ng-change="filterUsers()" value="18">
            <input type="text" name="ageMax" ng-model="filter.maxAge" ng-change="filterUsers()" value="90">
          </div>

          <div class="form-group">
            <label class="control-label">Gender</label>
            <label class="radio-inline"><input type="radio" ng-model="filter.gender" ng-change="filterUsers()"value="any" checked />Any</label>
            <label class="radio-inline"><input type="radio" ng-model="filter.gender" ng-change="filterUsers()"value="male"/>Male</label>
            <label class="radio-inline"><input type="radio" ng-model="filter.gender" ng-change="filterUsers()"value="female"/>Female</label>
          </div>

          <button type="button" class="btn btn-default" ng-click="filter={minAge:18, maxAge:90, gender:'any'}; filterUsers();">Reset</button>
        </div>
      </div>

      <div id="searchResults">
        <h2>{{filteredUsers.length}} Candidates Found</h2>
        <ul>
          <li ng-repeat="filteredUser in filteredUsers">
            <!--Not necessary, but the :: tells Angular to not bother with two way binding which is important on larger data sets and good practice for values that won't change.-->
            <img class="photo" ng-src="{{::filteredUser.picture.large}}">
            <span class="name lead">{{::filteredUser.name.first}} {{::filteredUser.name.last}}</span>
            <span class="age lead">{{::filteredUser.age}}</span>
            <button ng-click="contact(filteredUser)">Contact</button>
          </li>
        </ul>
      </div>
      <!-- END SEARCH RESULTS -->
    </div>
  </div>
</body>

</html>